* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Circular-std;
    src: url(fonts/CircularStd-Medium.ttf);
    font-weight: 400;
}

header {
    width: 100%;
    height: 100%;
    background-color: #311b92;

}

.nav-bar {
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
        
}

.nav-list {
    display: flex;
    align-items: center;  
    
}

ul li ul li{
    display: none;
    padding: 12px;
    position: relative;
    text-align: center;
}
ul li:hover ul li{
    display: block;
}
.nav-list li {
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 12px ;
    font-family: Circular-std ;
    font-weight: 400;
    font-size: 14px;
    
}
.fa-solid{
    color: white;
    font-size: 12px;

}
#1{
    position: relative;
}

.logo img {
    width: 152px;
     padding:1rem;
     margin: 10px;
}
.btn button{
    background-color: white;
    width: 120px;
    font-size: 12px;
    font-family: Circular-std ;
    font-weight: 400;
    text-align: center;
    color: rgb(20, 19, 19);
    border-radius: .25rem;
    height: 2rem;
    margin: 10px;
}
.btn1{
    background-color:#aae900;
    width: 55px;
    height: 1.5rem;
    border-radius:3px;
    text-align: center;
    padding: .25rem;
    font-size: 12px;
    font-family: Circular-std ;
    font-weight: 400;
     margin: 10px;
}